html{
  height: 100%;
}

#root{
  height: 100%;
  display: flex;
}

.App {
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
}
.App p{
  text-align: left;
  font-size: 1.2rem;
}
.App .select-container span{
  text-align: left;
  font-size: 1.4rem;
}
.board{
  width: 300px;
  height: 300px;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  margin: 2rem auto;
}

.board.in-active{
  pointer-events: none;
  opacity: 0.6;
}

.box{
  border: 1px solid #FFC107;
  width: 32%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #FFC107;
  transition: all 1s;
  border-radius: 10px;
}
.box.highlight{
  background: #4CAF50;
  color: white;
  transition: all 1s;
}
.box:hover{
  background: rgba(255, 87, 34, 0.6);
  color: white;
}
.select-container{
  display: flex;
  align-items: center;
  color: rgba(68, 64, 64, 0.66);
  font-weight: 600;
  border: 1px solid #FFEB3B;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0 auto;
}
.select-container.disabled{
  pointer-events: none;
}

p{
  font-size: 1rem;
}
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.MuiButton-outlinedPrimary{
  margin: auto;
}
.MuiButton-outlinedPrimary {
  color: #5D9BFB !important;
  border: 1px solid rgba(9, 178, 207, 0.5) important;
}
.loading-indicator{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -38px;
  margin-top: -28px;
}

.winner{
  font-size: 1.1rem;
  color: green;
  border-radius: 5px;
  padding: 0 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  background: rgba(76, 175, 80, 0.12941176470588237);
}

.tie{
  font-size: 1.1rem;
  color: #00BCD4;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(3, 169, 244, 0.05)
}
.board .MuiCircularProgress-colorPrimary{
  color: #2196f3;
}